<!DOCTYPE html>
<html>

<head>
  <title>
   Task
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <nav class="d-flex align-items-center justify-content-between p-5 ">
   <h3><a class="text-decoration-none text-dark" href="/">LOGO</a></h3> 
    <ul class="list-unstyled d-flex justify-content-between gap-5 me-5 fs-5">
      <li><a class="text-decoration-none text-dark" href="/list1">My Personal List</a></li>
      <li><a class="text-decoration-none text-dark" href="/list2">My Work List</a></li>
    </ul>
  </nav>