
  <nav class="d-flex align-items-center justify-content-between ps-5 pe-5 pt-4 ">
   <h3 class="p-2 fs-4 bg-dark rounded"><a class="p-3 text-light text-decoration-none" href="/">to.do's</a></h3> 
    <ul class="list-unstyled d-flex justify-content-between gap-5 me-5 fs-5">
      <li><a class="text-decoration-none text-dark" href="/signin">sign-in</a></li>
      <li><a class="text-decoration-none text-dark" href="/signup">sign-up</a></li>
      <li><a class="text-decoration-none text-dark" href="/signin">sign-out</a></li>
    </ul>
  </nav>