<%-include("./partials/nav.ejs")%>
    <div class="main-page bg-light ">
        <form class="form-control-lg " action="/create1" method="post">
            <input class="form-control-lg form-control-plaintext" type="text" placeholder="Write Your Task Here!!!"
                name="note">
            <button class="mt-4 ms-4 btn btn-sm bg-primary text-light rounded-pill ps-4 pe-4">Save</button>
                
        </form>
    </div>

    </p>
    <%-include("./partials/footer.ejs")%>