<%-include("./partials/header.ejs")%>
    <%-include("./partials/nav.ejs")%>
        <div class="container">
            <div class="main-page bg-light ">
                <h1 class="heading">One simple  <span class="text-info">to do list</span> for you and your team</h1>
                <h2 class="heading2">Over 30 million people organize their tasks, lists and manage their team’s projects
                    with
                    to.do's</h2>
                <button class="btn btn-lg bg-info text-light rounded-pill ps-4 pe-4 mt-5"><a
                        class="text-decoration-none text-light" href="/signup">Get Started</a> </button>
            </div>
            <div class="overlay"></div>
        </div>
        

        <%-include("./partials/footer.ejs")%>