<%-include("./partials/nav.ejs")%>
    <div class="main-page bg-light ">
        <h1 class="heading">One simple to do list for you and your team</h1>
        <h2 class="heading2">Over 30 million people organize their tasks, lists and manage their team’s projects with
            LOGO</h2>
        <button class="btn btn-lg bg-primary text-light rounded-pill ps-4 pe-4"><a
                class="text-decoration-none text-light" href="/list1">Get Started</a> </button>
    </div>

    </p>
    <%-include("./partials/footer.ejs")%>